/****** Object:  Table [dbo].[ScreeningOne_PriceIncrease]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScreeningOne_PriceIncrease](
	[Provided Name] [varchar](500) NULL,
	[InstaScreen Name] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
