/****** Object:  StoredProcedure [dbo].[S1_BillingImport_GetTemp]    Script Date: 11/21/2016 9:27:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S1_BillingImport_GetTemp]
AS
BEGIN

;select *
   from TempLoaded

END



GO
