/****** Object:  Table [dbo].[QBInvoices]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QBInvoices](
	[Sep 11] [varchar](50) NULL,
	[Column 1] [varchar](50) NULL,
	[Column 2] [datetime] NULL,
	[Column 3] [datetime] NULL,
	[Column 4] [varchar](50) NULL,
	[Column 5] [decimal](28, 0) NULL,
	[Column 6] [decimal](28, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
