/****** Object:  Table [dbo].[ExpectedRev]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExpectedRev](
	[Account Name  Account Name] [varchar](5000) NULL,
	[Affiliate Name] [varchar](5000) NULL,
	[New Account Setup  New Account Setup Name] [varchar](5000) NULL,
	[Anticipated Monthly Revenue] [varchar](50) NULL,
	[New Account Setup  Created Date] [varchar](50) NULL,
	[Setup Status] [varchar](5000) NULL,
	[New Account Setup  Last Modified Date] [varchar](50) NULL,
	[Account Name  Account Owner] [varchar](5000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
