/****** Object:  Table [dbo].[QBContactsNew]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBContactsNew](
	[Customer] [nvarchar](255) NULL,
	[Bill to] [nvarchar](255) NULL,
	[Contact] [nvarchar](255) NULL,
	[Balance Total] [float] NULL,
	[Phone] [nvarchar](255) NULL,
	[Note] [nvarchar](255) NULL
) ON [PRIMARY]

GO
