/****** Object:  Table [dbo].[_OnlinePrimarysSetToSecondaryToBalance]    Script Date: 11/21/2016 9:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_OnlinePrimarysSetToSecondaryToBalance](
	[BillingContactID] [int] NOT NULL
) ON [PRIMARY]

GO
