/****** Object:  Table [dbo].[JulyCommissions]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JulyCommissions](
	[ClientID] [varchar](50) NULL,
	[Client] [varchar](500) NULL,
	[ProductDescription] [varchar](5000) NULL,
	[CommissionRate] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
