/****** Object:  Table [dbo].[ReynoldsAndReynoldsClients]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReynoldsAndReynoldsClients](
	[Client] [varchar](255) NULL,
	[ClientNumber] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
