/****** Object:  Table [dbo].[QBAuditInvoiceReport]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QBAuditInvoiceReport](
	[InvoiceNumber] [varchar](50) NULL,
	[ClientName] [varchar](100) NULL,
	[Amount] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
