/****** Object:  Table [dbo].[TempLoaded]    Script Date: 11/21/2016 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempLoaded](
	[EDrugTempLoaded] [bit] NOT NULL,
	[ExperianTempLoaded] [bit] NOT NULL,
	[QuickbooksTempLoaded] [bit] NOT NULL,
	[TazWorksTempLoaded] [bit] NOT NULL,
	[TransUnionTempLoaded] [bit] NOT NULL
) ON [PRIMARY]

GO
