/****** Object:  Table [dbo].[_BalanceSummary]    Script Date: 11/21/2016 9:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[_BalanceSummary](
	[Account] [varchar](100) NULL,
	[Balance] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
